body {
    background-image: url(/upload/styleimg/background_main.png);
    /* Путь к фоновому изображению */
    background-color: #cac5bf;
    /* Цвет фона */
}

#header {
    padding: 30px;
    border: none;
    background-color: #ebe4cd;
    background-image: url(/upload/styleimg/background_main_header.png);
    border-radius: 5px;
    box-shadow: 0px 5px 25px 5px rgba(0, 0, 0, 0.3);
}

#header h1 {
    font-family: cursive;
    font-size: 50px;
    color: #000000;
    letter-spacing: 4px;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(24, 23, 23);
    margin-top: 4px;
    margin-left: 250px;
}

#header a:active,
#header a:hover,
#header a {
    color: #000000;
    text-decoration: none;
}

#userWelcome {
    background-color: #e0d6b4;
    border-radius: 5px 5px 0px 0px;
    color: rgb(0, 0, 0);
    padding: 7px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-top: 0px;
}

#lastWord {
    color: rgb(14, 13, 13);
    font-weight: bold;
    font-size: 23px;
}

#auth_block {
    width: 250px;
    height: 100px;
    float: right;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: #ebe4cd;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

#auth_block a {
    display: block;
    padding: 7px;
    border-radius: 3px;
    color: rgb(12, 12, 12);
    text-decoration: none;
    margin-left: 15px;
    width: 90px;
    height: 20px;
    float: left;
}

#link_register {
    float: left;
}

#link_auth {
    float: left;
}

#link_logout {
    float: left;
}

#link_auth a,
#link_register a {
    background-color: #dbdada;
}

#link_auth a:hover,
#link_register a:hover {
    background-color: #ebe9e9;
    text-align: center;
}

#link_download a,
#link_logout a {
    background-color: #dbdada;
    text-align: center;
}

#link_download a:hover,
#link_logout a:hover {
    background-color: #ebe9e9;
    text-align: center;
}


/* Блок с формой регистрации */

#form_register,
#form_auth {
    background-color: #ebe4cd;
    border-radius: 5px;
    margin: 100px auto;
    width: 300px;
    height: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
}

.text-error {
    color: red;
    text-align: center;
}

#form_register h2,
#form_auth h2 {
    background-color: #e0d6b4;
    border-radius: 5px 5px 0px 0px;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

#form_auth form,
#form_register form {
    overflow: hidden;
}

#form_register fieldset,
#form_auth fieldset {
    border: none;
    margin-left: 10px;
    padding: 10px;
    position: relative;
}

#form_auth fieldset input[type="login"],
#form_register fieldset input[type="login"] {
    margin: 5px auto;
    border: 1px solid #ffffff;
    border-radius: 3px;
    padding: 12px 10px;
    width: 235px;
}

#form_register fieldset input[type="email"],
#form_auth fieldset input[type="password"],
#form_register fieldset input[type="password"] {
    margin: 5px auto;
    border: 1px solid #ffffff;
    border-radius: 3px;
    margin-top: 3px;
    padding: 12px 10px;
    width: 235px;
}

#form_auth fieldset input[type="submit"],
#form_register fieldset input[type="submit"] {
    border: none;
    border-radius: 3px;
    background-color: #dbdada;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    margin-top: 3px;
    padding: 12px;
    width: 257px;
}

#form_auth fieldset input[type="submit"]:hover,
#form_register fieldset input[type="submit"]:hover {
    border: none;
    border-radius: 3px;
    background-color: #ebe9e9;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    margin-top: 3px;
    padding: 12px;
    width: 257px;
}

#downloadForm {
    background-color: #ebe4cd;
    border-radius: 5px;
    margin: 100px auto;
    width: 750px;
    height: 530px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
}

#downloadForm h2 {
    background-color: #e0d6b4;
    border-radius: 5px 5px 0px 0px;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

#downloadField {
    opacity: 0.5;
    margin: 15px auto;
    width: 710px;
    border: 2px dashed;
    border-radius: 3px;
    background-color: #e4d08f;
    background-image: url(/upload/styleimg/arrow_down_download.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: 300px 100px;
}

#selectedImg {
    overflow: hidden;
    margin-left: 276px;
    width: 455px;
    height: 94px;
    position: relative;
    top: -51px;
}

#previewImage {
    display: inline;
    margin-left: 6px;
    margin-top: 0px;
    width: 85px;
    height: 85px;
    object-fit: cover;
    position: relative;
    top: -10px;
}

#downloadField:hover {
    opacity: 1;
    margin: 15px auto;
    width: 710px;
    border: 2px dashed;
    border-radius: 3px;
    background-color: #e4d08f;
    background-image: url(/upload/styleimg/arrow_down_download.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: 300px 100px;
}

#downloadForm div span {
    z-index: 1;
    margin-top: 100px;
    position: relative;
    left: 25%;
    top: 215px;
    user-select: none;
    pointer-events: none;
}

#downloadForm div input[type="file"] {
    opacity: 0;
    width: 710px;
    height: 325px;
    border: 2px solid;
}

#downloadForm form input[type="submit"] {
    position: static;
    border: none;
    border-radius: 3px;
    background-color: #dbdada;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    margin-left: 17px;
    padding: 15px;
    width: 250px;
}

#downloadForm form input[type="submit"]:hover {
    background-color: #ebe9e9;
}

#downloadForm form input[type="button"] {
    position: static;
    border: none;
    border-radius: 3px;
    background-color: #dbdada;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 17px;
    padding: 15px;
    width: 250px;
}

#authorized h2 {
    text-align: center;
}

#allImg,
#userImg {
    margin: auto;
    margin-top: 20px;
    background-color: #ebe4cd;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 1300px;
}

#allImg img {
    margin: 5px;
    border-radius: 3px;
    width: 300px;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
}

.popup {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
    text-align: center;
}

.popup_bg {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.popup_img {
    animation-name: zoom;
    animation-duration: 0.7s;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    margin: auto;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.imageAnimation {
    overflow: hidden;
    margin: 5px auto;
    width: 300px;
    height: 250px;
    border-radius: 3px;
}

#userImg img {
    transition: all 1s ease-out;
    border-radius: 3px;
    width: 300px;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
}

#userImg img:hover {
    transform: scale(1.1);
    border-radius: 3px;
    width: 300px;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
}

#userImg a {
    font-size: 30px;
    opacity: 0.1;
    color: rgba(0, 0, 0, 0);
    text-decoration: none;
    background-image: url(/upload/styleimg/redcrest.png);
    background-size: 20px;
    background-repeat: no-repeat;
    position: relative;
    left: 270px;
    top: -243px;
}

#userImg a:hover {
    font-size: 30px;
    opacity: 0.9;
    color: rgba(0, 0, 0, 0);
    text-decoration: none;
    background-image: url(/upload/styleimg/redcrest.png);
    background-size: 20px;
    background-repeat: no-repeat;
    position: relative;
    left: 270px;
    top: -243px;
}

#footer h2 {
    text-align: center;
    margin: auto;
}