body {
    background-image: url(/upload/styleimg/background_main.png); /* Путь к фоновому изображению */
    background-color: #dfdad4; /* Цвет фона */
   }

#hdr { 
    padding: 80px;
    border: 2px solid;
    border-radius: 10px #0f0f0f;
    background-image: url(/upload/styleimg/header1.jpg);
}

#hdr h1 {
	font-family: cursive ;
	font-size: 80px;
	color: #0f0f0f;
	letter-spacing: 4px;
	text-align: center;	
	text-shadow: 1px 1px 2px rgb(24, 23, 23);	
	margin-top: 4px;
	margin-left: 200px;
}  

#userWelcome {
	color: rgb(8, 8, 8);
	text-align: center;
	margin-bottom: 10px;
}

#lastWord {
	color: rgb(14, 13, 13);
	font-weight: bold;
	font-size: 23px;
}

#auth_block{
    width: 250px;
	height: 100px;
    float: right;
    text-align: center;
	border: 1px solid rgb(17, 17, 17);
	border-radius: 10px;

}

#auth_block a{
    display: block;
    padding: 7px;
    border-radius: 10px;
    color: rgb(12, 12, 12);
    width: 90px;
    height: 25px;
    text-decoration: none;
	margin-left: 14px;
}

#auth_block a:hover {
    text-decoration: underline;
}

#link_register {
    float: left;
}

#link_auth {
    float: left;
}

#link_logout {
	float: right;
}

#link_register a{
    background: #a2a7a2d3;
}

#link_auth a, #link_logout a{
    background: #a2a7a2d3;
    text-align: center;
}

/* Блок с формой регистрации */
#form_register, #form_auth{
    width: 300px;
    margin: auto;
}

#authorized h2 {
    text-align: center;
}

#userImg {
	margin: auto;
	background-color: #858383;
	border: 1px solid rgb(17, 17, 17);
}

#footer h2 {
    text-align: center;
    margin: auto;
}